<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SybConnStringff" value="Provider=ASEOLEDB; Data Source=10.161.206.36:5000; Initial Catalog=finfus;User ID=usr_finfus;Password=hVJ7fpYa"/>
    <add key="SybConnStringCob" value="Provider=ASEOLEDB; Data Source=SYB_DESA_NEW; Initial Catalog=cob_bvirtual;User ID=usr_bvirtual;Password=9GDWWqkZ"/>
    <!-- LOG -->
    <add key="DIRECTORIO" value="C:/banca_electronica/"/>
    <add key="LOG_TADMIN_WEB" value="S"/>
    <!-- SERVICIO -->
    <add key="USERSPASS" value="http://10.161.206.81:9080/login/ws/Login/calculatePassword/"/>
    <add key="UNLOCKSESSION" value="http://10.161.206.81:9080/login/ws/Login/unlockRetailSession/"/>
    <add key="BASEDATOS_BV" value="finfus"/>
  </appSettings>
  
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    </system.web>

</configuration>
